/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*commentaire*/



body{
	background-color: #f4743e
}

#conteneur{
	width: 100%;
	height: auto;
	margin: auto;
}

header{
	width: 80%;
	background-color: #A4036F;
	padding-top: 5px;
	margin: auto;
}

#logo{
	width: 600px;
	height: 100px;
	margin: 30px auto;
	background-color: #048BA8;
	border: 3px solid black;
}

nav {
	width: 80%;
	height: 80px;
	border: 3px solid black;
	background-color: #f4743e;
	margin: auto;
}

li{
	border: 1px solid black;
	width: 200px;
	height: 15px;
	margin: 10px auto;
}

ul{
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
}

#principale{
	width:80%;
	background-color: #048BA8;
	height: 500px;
	margin: auto;
	padding-top: 50px;
}

#boite{
	width:600%;
	background-color: #A4036F;
	height: 300%;
	margin: auto;
	border: 3px solid black;
}

#secondaire{
	width: 80%;
	height: 300%;
	background-color: #A4036F;
	display:flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	margin: auto;  
}

article{
	width: 200px;
	height:200px;
	background-color:#f4743e;
	margin:auto;
	border: 3px solid black;
}

article{
	width: 200px;
	height:200px;
	background-color:#f4743e;
	margin:auto;
	border: 3px solid black;
}

footer{
	margin: auto;
	width: 80%;
	height: 40px;
	background-color: #A4036F
}